.custom-tabs {
  --mantine-tabs-color: #212933; /* Define a cor padrão */
}

.custom-tabs .mantine-Tabs-tab {
  padding: 10px 20px; /* Ajusta o espaçamento */
  font-size: 14px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  border: 1px solid #ccc; /* Adiciona borda */
  border-radius: 4px; /* Bordas arredondadas */
}

.custom-tabs .mantine-Tabs-tabActive {
  background-color: #212933; /* Cor de fundo para a aba ativa */
  color: white; /* Cor do texto */
  border-color: #212933; /* Borda da aba ativa */
}

.custom-tabs .mantine-Tabs-tab:hover {
  background-color: #f0f0f0; /* Cor ao passar o mouse */
}

.custom-tabs .mantine-Tabs-panel {
  padding: 20px;
  background-color: #f9f9f9; /* Fundo das abas */
  border: 1px solid #ccc; /* Adiciona borda */
  border-radius: 4px; /* Bordas arredondadas */
  margin-top: 10px; /* Espaçamento entre os botões e o conteúdo */
}
