/* App.css */
#root {
  height: 100vh; /* 100% da altura da viewport */
  width: 100vw; /* 100% da largura da viewport */
  overflow: hidden; /* Oculta qualquer rolagem que possa surgir do conteúdo interno */
}

body {
  margin: 0; /* Remove margens padrão do body */
  overflow: hidden; /* Oculta qualquer rolagem padrão do body */
}
